<html>
<head>
	<meta charset="utf-8">
	<title>Quoting Dojo</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		alert("Hi")
		$('form').submit(function(){
			if($('.myname').val().length < 1 || $(".myquote").val().length < 1){
				alert("All fields in quote form must be filled out!")
				return false
			}		
		})
	})
	</script>
</head>
<body>
	<h1>Welcome to QuotingDojo</h1>
	<form action='/quotes' method='post'>
	<p>Your Name:</p> <input class="myname"type='text' name='name'>
	<br>
	<p>Your Quote:</p> <textarea class="myquote" name="quote" cols="80" rows="20"></textarea>
	<br><br>
	<input class="submitting" type='submit' value='Add my quote!'>
	<a href="#">Skip to Quotes</a>
	 </form>
	 
</body>
</html>